---
---

@import "{{ site.theme }}";
$color-purple: #663366;
$color-blue: #0076E0;
$color-magenta: #E5007D;
$color-white: #FFFFFF;
$font-type: Arial;

h1.project-name { color: $color-white !important; }
h1{ color: $color-purple !important; }
h2 { color: $color-purple !important; }
h3 { color: $color-purple !important; }
h4 { color: $color-purple !important; }

body{font-family: $font-type;}

.page-header{
    background-color: aliceblue;
    background-image: linear-gradient(120deg, #663366, #fff)
}
a{
    color: $color-purple;
}
ol.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
  }
  
  /* Display list items side by side */
  ol.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  ol.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  
  /* Add a color to all links inside the list */
  ol.breadcrumb li a {
    color: $color-purple;
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  ol.breadcrumb li a:hover {
    color: $color-purple;
    text-decoration: underline;
  }